{% extends 'base.html' %}
{% block content %}

  <!-- <div class="columns tab-area" style="border: 1px solid black"> -->
  <div class="columns tab-area" style="border: 1px solid red">
    <div class="column" style="border: 1px solid green">
      [ PLOT ]
      <div id="plotDiv"></div>
    </div>
    <div id="celltypeList" class="column is-1" style="border: 1px solid purple">
      Celltypes
      <div id="celltypeName-template" style="display: none; border: 1px solid black"></div>
    </div>
  </div>
  <div class="columns is-vcentered has-text-centered" style="border: 1px solid orange">
    <div class="column" style="border: 1px solid blue; padding: 20px;">
        <div>FILTERS</div>
        <div>
          <div>
            <input id="searchOpt" placeholder="genes">
          </div>
          <br />
          <div class="dropdown">
            <div id="drop-select" style="border: 1px solid black">number of matches</div>
            <div id="drop-options">
              <div id="dropOp-template" style="border: 1px solid red"></div>
            </div>
          </div>
          <label></label>
          <br />
          <label>
            <input class="clusterOpt" type="checkbox">
            Cluster
          </label>
          <br />
          <br />
          <label>
            <input id="tisOpt-Lung" class="tisOpt" type="checkbox" value="Lung">
            Lung
          </label>
          <label>
            <input class="tisOpt" type="checkbox" value="Heart">
            Heart
          </label>
          <label>
            <input class="tisOpt" type="checkbox" value="Colon">
            Colon
          </label>
          <label>
            <input class="tisOpt" type="checkbox" value="Bone Marrow">
            Bone Marrow
          </label>
          <label>
            <input class="tisOpt" type="checkbox" value="Kidney">
            Kidney
          </label>
          <label>
            <input class="tisOpt" type="checkbox" value="Pancreas">
            Pancreas
          </label>
          <label>
            <input class="tisOpt" type="checkbox" value="Tongue">
            Tongue
          </label>
          <br /><br />
          <label>Species</label>
          <br />
          <label>
            <input class="specOpt" type="checkbox" value="mouse">
            Mouse
          </label>
          <label>
            <input class="specOpt" type="checkbox" value="human">
            Human
          </label>
        </div>
    </div>
    <div class="column" style="border: 1px solid purple">
      <button class="button" id="pBtn">plot</button>
      <br />
      <br />
      <button class="button" id="plotBtn">template</button>
      <br />
      <button id="testBtn">test</button>
    </div>
  </div>
  <script type="module" src="/js/temp.js"></script>
  
{% endblock %}